*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.linea {
    text-decoration: line-through;
  }
  
.nada{
    text-decoration: none;
}

ul{
  list-style: none;
  font-family: cursive;
  margin: 5px;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background:#3A5A40;
}


h1{
  font-family: cursive;
  color: #DAD7CD;
 margin: 20px 20px;
}

section{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 1px;
  width: 20%;
  height: 300px;
  border-radius: 7px;
  background-color:#A3B18A;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
input, textarea{
  margin: 15px;
  width: 90%;
  border-radius: 4px;
  border: none;
}


label{
  font-family: cursive;
}
textarea,input:focus{
  outline: none;
}

.agregar{
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background-color:#3A5A40;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}



.container2{
  border: solid 1px ;
  margin: 40px;
  width: 15%;
  height: auto;
  border-radius: 7px;
  background-color: #DAD7CD;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}
.descripcion-container{
  border: solid 1px;
  overflow-x: auto;
}
label {
  color: #333; 
  font-size: 16px; 
  font-weight: bold; 
}


i {
  font-style: italic; 
  font-size: 24px; 
  color: #0077b6; 
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  .container, .container2 {
    width: 80%; 
  }

  section{
    flex-direction: column;
  }
  h1 {
    font-size: 24px; 
  }
}