* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.linea{
  text-decoration: line-through;
}
.nada {
  text-decoration: none;
}

ul {
  list-style: none;
  font-family: cursive;
  margin: 5px;
}

body {
  font-family: 'Roboto', sans-serif;
  background:#0d1321;
  color: #333;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: #f0ebd8;
  margin: 20px;
  font-size: 28px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.container {
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 20px);
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

input, textarea {
  margin: 10px;
  width: 90%;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-family: cursive;
}

.agregar {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #1d2d44;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.agregar:hover{
  background-color: #0d1321
}

.container2 {
  border: 1px solid #0077b6;
  width: 100%;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

ul.todo-list {
  padding: 10px;
}

li.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

.todo-text {
  flex-grow: 1;
  padding-right: 10px;
}

i {
  font-style: italic;
  font-size: 24px;
  color: #748cab;
  cursor: pointer;
}

.parrafo {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
span,label{
  margin-left: 4px;
 font-family: cursive;
  
}

@media screen and (max-width: 768px) {
  .container, .container2 {
    width: 100%;
  }

  h1 {
    font-size: 24px;
  }
}
