* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.linea{
  text-decoration: line-through;
}
.nada {
  text-decoration: none;
}

ul {
  list-style: none;
  font-family: arial;
  margin: 5px;
}

body {
  font-family: 'Roboto', sans-serif;
  background:#003049;
  color: #333;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: #fff;
  margin: 20px;
  font-size: 28px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.container {
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 20px);
  border-radius: 7px;
  background-color:#e5e5e5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

input, textarea {
  margin: 10px;
  width: 90%;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-family: arial;
}

.agregar {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #003049;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.agregar:hover{
  background-color: #0d1321
}

.container2 {
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.descripcion-container{
  background-color: #e5e5e5;
  border-radius: 7px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}


ul.todo-list {
  padding: 10px;
}

li.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

.todo-text {
  flex-grow: 1;
  padding-right: 10px;
}

i {
  font-style: italic;
  font-size: 24px;
  color: #748cab;
  cursor: pointer;
  width: 40px;
}

.parrafo {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
span,label{
  margin-left: 4px;
 font-family: arial;
 font-weight: bold;
 margin-top: 8px;
  
}



@keyframes shine-moving-blue {
  0% {
    text-shadow: 0 0 10px #0074E0;
  }
  25% {
    text-shadow: 5px 0 15px #0074E0;
  }
  50% {
    text-shadow: 10px 0 20px #0074E0;
  }
  75% {
    text-shadow: 15px 0 15px #0074E0;
  }
  100% {
    text-shadow: 20px 0 10px #0074E0;
  }
}

.animated-star {
  animation: shine-moving-blue 4s linear infinite;
}



@media screen and (max-width: 768px) {
  .container, .container2 {
    width: 100%;
  }

  h1 {
    font-size: 24px;
  }
}
